.header {
height: 60px;
background-color: slategray;
width: 100%;
padding: 20px;
}
.header h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color: dimgray;
    font-size: 30px;
    margin-top: 5px;
    padding:0px
}
.navbar .navbar-nav {
    margin-left: 40%;
    }

.navbar-nav li{
        padding-left: 20%;
    }  
  
.navbar {
    background-color: lightsteelblue;
    align-items: right;
    text-decoration-color: black;
    
    
}
.thumbnail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: crimson;
    border-width: 20px;
    padding: 10%;
}
.responsive {
    width: 100%;
    height: auto;
  }