                    /* header */

.header {
height: 75px;
background-color: slategray;
width: 100%;
padding: 20px;
}
.header h1 {
  
    text-decoration-color: dimgray;
    margin-top: 5px;
    padding:0px;
    font-size: 36px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
}


                            /* navbar */

.navbar .navbar-nav {
    margin-left: 40%;
    }


  
.navbar {
    background-color: lightsteelblue;
    align-items: right;
    text-decoration-color: black;
    
    
}


                        /* portfolio */

.thumbnail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: crimson;
    border-width: 20px;
    padding: 10%;
}
.responsive {
    width: 100%;
    height: auto;
  }

                                /* contact */
    
    .textbox {
      height: 40%;  
      width: 55%;
      border: 15px;
      padding: 1%;
      background-color: lightskyblue;
      position: absolute;
    bottom: -10%;
    left: 15%;
      
    }
    
    #inset {
        font: bold 40px
         arial, sans-serif;
    background-color: slategrey;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
            text-align: center;}

    .form-group  {
                font: 35px,bold,;
                color: mediumblue;
                font-family: roboto slab;
      
            }
             
            

                            /* index/about */
    
    .picture-profile img{
    top: 35%;
    position: absolute;
    left: 5%;
    width: 25%;
    }
    
    .bg {
        /* Creates a background, which scales and is easily positioned under everthing else. */
        
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
        
      
      
    
    
      